@media (max-width: 450px) {
    body {
        overflow: scroll;
        overflow-x: hidden;
        width: 95vw;
    }
    #sub-nav-barR {
        opacity: 0;
    }
    #sub-nav-barL {
        opacity: 0;
    }
    #nav-bar{
        width: 97.8%;
        height: 80vh;
        flex-direction: column;
        top: 13%;
        width: 97.8%;
        height: 80vh;
        font-size: 50px;
        align-items: flex-end;
    }

    #nav-bar li{
        margin-right: 30vw;
    }


    #menu-icon{
        opacity: 1;
        position: fixed;
        font-size: 130px;
        width: fit-content;
        padding-left: 7vw;
        padding-right: 7vw;
        height: fit-content;
        border-radius: 10px;
        border-style: solid;
        z-index: 1;
        color: #ffffff;
        top: 12vh;
        left: 40vw;
        background-color: #ffffff31;
        transition: transform 0.5s ease-in-out;
    }
    #nav-logo {
        position: fixed;
        z-index: 1;
        width: 115vw;
        top: 12%;
        left: 70%;        
        transform: translate(-50%, -50%);
      }

    #content {
        background-color: #00000000;
        box-shadow: none;
    }
    
    .menuFoodPhoto {
        margin-left: 100vw;
        height: 100vh;
    }

    .menuFoodPhotoStatic {
        margin-left: 100vw;
        height: 100vh;
    }

    .bg-images {
        width: 300vw;
    }

    
    
    

  }