#sub-nav-barL {
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 450;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 18.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100vw;
    height: 8vh;
    border: 0.5px solid #c9c9c9;
    border-radius: 0px;
    display: flex;
    background: rgba(24, 24, 24, 1);
}

#menu {
    padding-top: 1510vh;
}

.menuImg {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    scroll-margin-top: 100%;

}

#entryFoodPhoto {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 50vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    right: 5vw;
    border: 2px  solid #d6d6d6c7;
}

#pizzaFoodPhoto {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 60vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    right: 6vw;
    border: 2px  solid #d6d6d6c7;
}

#lasagnaFoodPhoto {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 60vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    right: 8vw;
    border: 2px  solid #d6d6d6c7;
}

#panzerottiFoodPhoto {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 52vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    right: 3vw;
    border: 2px  solid #d6d6d6c7;
}

#burguerFoodPhoto {
    overflow: hidden;
    position: relative;
    width: auto;
    height: 60vh;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    right: 10vw;
    border: 2px  solid #d6d6d6c7;
}

#othersFoodPhoto {
    z-index: -1;
    position: relative;
    width: auto;
    height: 55vh;
    right: 3vw;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    border: 2px  solid #d6d6d6c7;
}

#kidsFoodPhoto {
    z-index: -1;
    left: -4vw;
    overflow: hidden;
    position: relative;
    width: auto;
    height: 45vh;
    right: 1vw;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    border: 2px  solid #d6d6d6c7;
}

#drinksFoodPhoto {
    z-index: -1;
    left: -8vw;
    overflow: hidden;
    position: relative;
    width: auto;
    height: 60vh;
    right: 1vw;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 20px 14px rgb(0 0 0 / 35%);
    z-index: -1;
    border: 2px  solid #d6d6d6c7;
}

.foodPhoto img{
    position: sticky;
    
}

#pizzaPrices {
    width: 35vw;
    height: auto;
}

#entryMenuPhoto {
    height: 60vh;
    border-radius: 20px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#pizzaMenuPhoto {
    height: 70vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#lasagnaMenuPhoto {
    height: 70vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#panzerottiMenuPhoto {
    height: 60vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#burguersMenuPhoto {
    height: 70vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#othersMenuPhoto {
    height: 70vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#kidsMenuPhoto {
    height: 50vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#drinksMenuPhoto {
    height: 70vh;
    border-radius: 6px;
    box-shadow: 35px 0px 20px 10px rgb(0 0 0 / 35%);
    border: 2px  dashed #f3f3f3ce;
}

#entrys {
    top: 737vh;
    margin-left: 5vw;
}

#pizza {
    top: 820vh;
    margin-left: 4VW;
}
#lasagna {
    top: 925vh;
    margin-left: 2.8vw;
}
#panzerotti {
    top: 1023vh;
    margin-left: 5vw;
}
#burguers {
    top: 1124vh;
    margin-left: 3.6vw;
}
#others {
    top: 1218vh;
    margin-left: 3vw;
}
#kidsMenu {
    top: 1332vh;
    margin-left: 8vw;
}

#drinks {
    top: 1428vh;
    margin-left: 8vw;
}

@media (max-width: 450px) {
    .menuImg img {
        height: 80vh;
        
    }
    .menuImg{
        width: auto;
        align-items: center;
        width: fit-content;
        margin: 20px;
        flex-direction: column;
        }
    #menu {
        padding-top: 1610vh;
    }
    #bg {
        margin-top: 15vh;
    }
    
}

@media (min-width: 1020px) and (max-width: 1440px){
    #entrys {
        margin-left: 8vw;
    }
    #others{
        margin-left: 8vw;
    }
    #kidsMenu{
        margin-left: 14vw;
        top: 1320vh;
        
    }
    #kidsMenu img {
        width: 48vw;
        height: auto;
    }
    #drinks{
        top: 1410vh;
        margin-left: 19vw;
    }
    #panzerotti{
        margin-left: 10vw;
    }
    #drinks img {
        width: 36vw;
        height: auto;
    }
}