#bg-map {
    margin: 2rem auto;
    background-color: rgb(0 0 0 / 80%);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 800px; /* Limita el ancho en pantallas grandes */
    text-align: center;
}

#index {
    padding-top: 125vh;
    padding-bottom: 30vh;
}

#Us {
    background-color: rgba(229, 229, 229, 0.40);
    box-shadow: 0px 8px 8px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 90%;
    max-width: 1200px; /* Limita el ancho máximo */
    height: auto; /* Altura dinámica */
    margin: 5rem auto;
}
#jrText{
    width: 52vw;
    margin-left: 5vw;
    position: static;
    margin-top: 15vh;
    transform: translate(10px, 140px);
}
.JrTeamdiv {
    width: 40%;
    position: relative;
    background-color: rgba(250, 250, 250, 0.548);
    padding: 3%;
    border-radius: 20px;
    border-style: dashed;
    border-color: #000000d5;
    border-width: 3px;
    display: flex;
    flex-direction: column;
    transform: translate(-180%, 5%);
    margin: 2rem auto;
    margin-top: 45vh;
}


#IndexColorLogo {
    width: 25%;
    position: static;
    height: auto;
    margin: 2rem auto;
    z-index: 2;
    transform: translate(-105%, 25%);    
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 100%;
}
#bg-map iframe {
    width: 100%;
    height: 50vh; /* Ajuste dinámico */
    
}

#bg-map {
    margin-top: 10vh;
    color: #ffffff;
    background-color: #000000ad;
    outline-style: dashed;
    outline-width: 2px;
}
#Us {
    background-color: #0000;
    box-shadow: none;
}
/* Media Queries para dispositivos pequeños */
@media (max-width: 450px) {
    #index {
        margin-top: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 5%;
        font-size: 1.5rem;
    }

    .JrTeam {
        width: 100%;
        margin: 3vh auto;
        margin-bottom: 1rem;
    }

    .JrTeamdiv {
        font-size: 1rem;
        width: 90%;
        padding: 2%;
        border-width: 2px;
        padding-top: 1vh;
        padding-bottom: 2vh;
        margin-bottom: 12vh;
        align-items: center;
        transform: translate(-0%, -29%);
    }

    .JrTeamheader{
        font-size: 1.6rem;
        margin: 0;
    }

    .JrTeamText {
        margin: 0;
    }
    
    #IndexColorLogo {
        width: 62%;
        left: 20%;
        position: absolute;
        height: auto;
        margin: 2rem auto;
        z-index: 2;
        transform: translate(1%, 4.5%)
    }

    #jrText {
        width: 90%;
        padding: 2%;
        background-color: rgb(255 255 255 / 55%);
        margin: 5vh auto;
        margin-top: 88vh;
        padding-bottom: 5vh;
    }

    .PorQueJRheader {
        font-size: 2rem;
    }

    #bg-map {
        margin-top: 22vh;
        width: 75%;
        max-width: 600px;
        padding: 1rem;
        margin-right: 13%;
        height: 67vh;
    }

    #bg-map iframe {
        width: 100%;
        height: 42vh; /* Ajuste dinámico */
    }

    #mapTxt {
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
    }

    #Us {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5%;
        background-color: transparent;
        box-shadow: none;
    }
}

@media (min-width: 420px) and (max-width: 450px) {
    #index {
        margin-top: 80vh;
    }
}
