body {
  background-color: rgb(0, 0, 0);
  font-family: 'Eras ITC', 'Arial', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: #000;
}

#whatsapp{
  z-index: 2;
  flex-direction: row;
  align-items: center;
  height: 35vh;
  display: flex;
  position: fixed;
  top: 68vh;
  right: 5vw;
  transition: transform 0.3s ease;
}
#whatsapp p{
  width: 22vw;
  position: relative;
  background-color: #c3c3c3ce;
  color: #000;
  padding: 5%;
  z-index: 0;
  border-radius: 5px 0px 0px 5px;
  border-style: dotted;
  border-width: 3px;
  right: -2vw;
  font-size: 1.7em;
  transition: transform 0.3s ease;
}
#whatsapp img{
  color: #000;
  z-index: 1;
  padding: 0.5%;
  background-color: #c3c3c3f1;
  height: 15vh;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  transition: transform 0.3s ease;
}
a :hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
#nav-bar {
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 600;
  list-style: none;

  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  width: 98vw;
  height: 20vh;
  border: 2px solid #FFF;
  border-radius: 10px;
  display: flex;
  background: rgba(24, 24, 24, 1);
  align-items: flex-end;
  padding-left: 8vw;
}

#hovercontainer p:hover{
  color: #FFF;
  background-color: #272727d2;
  text-shadow: 0px 8px 4px rgba(255, 255, 255, 0.719);
  -webkit-text-stroke-width: 1; 
  -webkit-text-stroke-color: rgb(253, 253, 253);
  transition: transform 0.3s ease;
}

#hovercontainer img:hover {
  transition: transform 0.3s ease;
}
#menu-icon {
  width: 10vw;
}

#nav-bar li {
  margin: 3%;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: rgba(255, 255, 255, 1);
}

#nav-logo {
  position: fixed;
    z-index: 1;
    width: 12vw;
    top: 9%;
    right: 6%;
    transform: translate(-50%, -50%);
}

#content {
  background-color: #181818e7;
  box-shadow: 0px 8px 8px 10px rgba(0, 0, 0, 0.25);
  width: 75vw;
  height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 0;
}

.no-scroll {
  overflow: hidden; /* Esto evitará que se haga scroll en esta sección específica */
}


@media (max-width: 450px) {
  #lastBgImg {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  }
  /* Aseguramos que la clase 'hidden' se aplica correctamente */
.hidden {
  display: none !important;
}

/* Aseguramos que cuando el menú está abierto, se mueva la nav-bar */
.move-nav {
  transform: translateY(14%);
  transition: transform 0.3s ease-in-out;
}

/* La clase 'open' controla la visibilidad del menú */
#nav-bar.open {
  display: flex;
}
#nav-bar{
  transition: top 0.5s ease-in-out;
  }
#whatsapp img{
  position: absolute;
  right: -5vw;
  border-radius: 50px;
  padding: 5%;
  width: 22vw;
  height: auto;
}
#whatsapp p {
  opacity: 0;
  margin: 0%;
}
#whatsapp {
  z-index: 1;
  transform: scale(0.9);
  top: 18vh;
  right: 5vw;
  height: fit-content;
  width: fit-content;
}
}
    
    
