body {
  background-color: rgb(0, 0, 0);
  font-family: 'Eras ITC', 'Arial', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

#nav-bar {
  margin: auto;
  color: rgba(255, 255, 255, 1);
  font-size: 30px;
  font-weight: 600;
  list-style: none;

  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  width: 98vw;
  height: 20vh;
  border: 2px solid #FFF;
  border-radius: 10px;
  display: flex;
  background: rgba(24, 24, 24, 1);
  align-items: flex-end;
  padding-left: 8vw;
}


#menu-icon {
  width: 10vw;
}

#nav-bar li {
  margin: 3%;
}
a:hover , li:hover {
  text-shadow: 0px 8px 4px rgba(255, 255, 255, 0.507);
  -webkit-text-stroke-width: 1; 
  -webkit-text-stroke-color: rgb(253, 253, 253);
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: rgba(255, 255, 255, 1);
}

#nav-logo {
  position: fixed;
    z-index: 1;
    width: 12vw;
    top: 9%;
    right: 6%;
    transform: translate(-50%, -50%);
}

#content {
  background-color: #181818e7;
  box-shadow: 0px 8px 8px 10px rgba(0, 0, 0, 0.25);
  width: 75vw;
  height: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 0;
}

.no-scroll {
  overflow: hidden; /* Esto evitará que se haga scroll en esta sección específica */
}


@media (max-width: 450px) {
  #lastBgImg {
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  }
  /* Aseguramos que la clase 'hidden' se aplica correctamente */
.hidden {
  display: none !important;
}

/* Aseguramos que cuando el menú está abierto, se mueva la nav-bar */
.move-nav {
  transform: translateY(14%);
  transition: transform 0.3s ease-in-out;
}

/* La clase 'open' controla la visibilidad del menú */
#nav-bar.open {
  display: flex;
}
#nav-bar{
  transition: top 0.5s ease-in-out;
  }
}
    
    
